### **Pandas Statistics:**

We will use the "House Sales in King County, USA" dataset from Kaggle.
<br>Kaggle dataset link:
<br>https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

In [1]:
import pandas as pd
from IPython.display import display

In [2]:
df_houses = pd.read_csv("kc_house_data _rev.csv")

In [3]:
with pd.option_context('display.max_columns', None):
    display(df_houses.head())

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7,1180.0,0.0,1955.0,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7,2170.0,400.0,1951.0,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6,770.0,0.0,1933.0,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7,1050.0,910.0,1965.0,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8,1680.0,0.0,1987.0,0,98074,47.6168,-122.045,1800,7503

To generate descriptive statistics, we used the "describe" function:

In [4]:
df_statistics = df_houses.describe()
df_statistics

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.160500e+04,21613.000000,21610.000000,21607.000000,2.160800e+04,21610.000000,21609.000000,21608.000000,21610.000000,21613.000000,21606.000000,21611.000000,21606.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.397798e+05,3.370842,2.114658,2079.800666,1.509785e+04,1.494285,0.007543,0.234358,3.409394,7.656873,1788.492456,291.480496,1971.002036,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.665764e+05,0.930062,0.770161,918.458700,4.140365e+04,0.539994,0.086525,0.766398,0.650757,1.175459,828.145169,442.581389,29.376185,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.215000e+05,3.000000,1.750000,1426.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.617000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068725e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

**count:** is the non-null (missing) data count.
<br>**mean:** is the mean of each column.
<br>**std:** is the standard deviation.
<br>**min:** is the minimum value.
<br>**25%:** is the 25th percentile value.
<br>**50%:** is the 50th percentile or the median value.
<br>**75%:** is the 75th percentile value.
<br>**max:** is the maximum value.

In [5]:
# Using "describe" with specific columns:
price_sqft_living_stats = df_houses[["price", "sqft_living"]].describe()
price_sqft_living_stats

              price   sqft_living
count  2.160500e+04  21607.000000
mean   5.397798e+05   2079.800666
std    3.665764e+05    918.458700
min    7.500000e+04    290.000000
25%    3.215000e+05   1426.000000
50%    4.500000e+05   1910.000000
75%    6.450000e+05   2550.000000
max    7.700000e+06  13540.000000

#### **Statistics Method:**

In [6]:
# Calculating a column mean:
# The mean is the average of a given set of numbers or data.
price_mean = df_houses["price"].mean()
price_mean

np.float64(539779.7731080769)

In [7]:
# Using "mean" with specific columns:
price_sqft_living_mean = df_houses[["price", "sqft_living"]].mean()
print(price_sqft_living_mean)

price          539779.773108
sqft_living      2079.800666
dtype: float64

In [8]:
# Calculating a column median:
# The median is the middle value of the given data or set of numbers when arranged in an order.
price_median = df_houses["price"].median()
print(price_median)

450000.0

In [9]:
# Using "median" with specific columns:
price_sqft_living_median = df_houses[["price", "sqft_living"]].median()
price_sqft_living_median

price          450000.0
sqft_living      1910.0
dtype: float64

In [10]:
# Calculating a column mode:
# The mode is a number in a set of numbers that appears the most often.
price_mode = df_houses["price"].mode()
print(price_mode)

0    350000.0
1    450000.0
Name: price, dtype: float64

In [11]:
# Using "mode" with specific columns:
price_sqft_living_mode = df_houses[["price", "sqft_living"]].mode()
price_sqft_living_mode

      price  sqft_living
0  350000.0       1300.0
1  450000.0          NaN

In the "price" column, the "350000" and "450000" are the numbers that appear more often.
<br>In the "sqft_living" column, the "1300" is the number that appears more often.

In [12]:
# Calculating a column variance:
# Variance is a statistical measure representing the degree of dispersion or spread in a set of values from the mean.
price_var = df_houses["price"].var()
print(price_var)

134378268151.98935

In [13]:
# Using "var" with specific columns:
price_sqft_living_var = df_houses[["price", "sqft_living"]].var()
price_sqft_living_var

price          1.343783e+11
sqft_living    8.435664e+05
dtype: float64

In [14]:
# Calculating a column standard deviation:
# Standard deviation is a measure of how spread out a set of values is relative to its mean.
price_std = df_houses["price"].std()
print(price_std)

366576.41516059014

In [15]:
# Using "std" with specific columns:
price_sqft_living_std = df_houses[["price", "sqft_living"]].std()
price_sqft_living_std

price          366576.415161
sqft_living       918.458700
dtype: float64

In [16]:
# Getting the maximum value in a column:
price_max = df_houses["price"].max()
print(price_max)

7700000.0

In [17]:
# Using "max" with specific columns:
price_sqft_living_max = df_houses[["price", "sqft_living"]].max()
price_sqft_living_max

price          7700000.0
sqft_living      13540.0
dtype: float64

In [18]:
# Getting the minimum value in a column:
price_min = df_houses["price"].min()
print(price_min)

75000.0

In [19]:
# Using "min" with specific columns:
price_sqft_living_min = df_houses[["price", "sqft_living"]].min()
price_sqft_living_min

price          75000.0
sqft_living      290.0
dtype: float64

##### **What are quantiles?**
Quantiles are values that divide sorted data or a probability distribution into equal parts.
<br>Quartiles are specific percentiles that divide a dataset into four equal parts.
<br>A percentile indicates that a given percentage of data points in a set fall at or below that specific value
<br> To get the quantiles of a specific data set, we use the "quantile" method
<br> The "quantile" method takes values between 0 and 1.

In [20]:
# The first quartile, Q1, is the 25th percentile, which means 25% of the data falls below Q1.
price_Q1 = df_houses["price"].quantile(0.25)
print(price_Q1)

321500.0

In [21]:
# The second quartile, Q2, is the median, which is the 50th percentile, meaning 50% of the data falls below Q2.
# The default value in the "quantile" method is "0.5":
price_Q2 = df_houses["price"].quantile()
print(price_Q2)

450000.0

In [22]:
# The third quartile, Q3, is the 75th percentile, which means 75% of the data falls below Q3.
price_Q3 = df_houses["price"].quantile(0.75)
print(price_Q3)

645000.0

#### **Aggregate method:**
The "agg" method in pandas is used to apply one or more aggregation functions or methods across an entire DataFrame or specific columns.

In [23]:
df_houses[["price", "sqft_living"]].agg(["max", "mean", "quantile"])

                 price   sqft_living
max       7.700000e+06  13540.000000
mean      5.397798e+05   2079.800666
quantile  4.500000e+05   1910.000000

User-defined functions can be use:

In [24]:
def quantiles_cal(column, *args):
    quntile_values = tuple(column.quantile(q) for q in args)
    return quntile_values

# Setting the dataframe index
quantile_index = pd.Series(["Q1", "Q2", "Q3"])

# Apply the user-defined function using agg.
# The 0 argument in the "agg" method is the default axis; it should be added if arbitrary arguments are used. 
quantile_result = df_houses[["price", "sqft_living"]].agg(quantiles_cal, 0, 0.25, 0.5, 0.75).set_index(quantile_index)
print(quantile_result)

       price  sqft_living
Q1  321500.0       1426.0
Q2  450000.0       1910.0
Q3  645000.0       2550.0

#### **Dropping Duplicates:**
"drop_duplicates" method returns a DataFrame with duplicate rows removed.

In [25]:
# Let's take an example
new_df = df_houses.loc[100:150, "price": "yr_built"]

In [26]:
# Let's say we want to remove the duplicate years:
drop_br = new_df.drop_duplicates(subset="bedrooms")

drop_br

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built
100,850830.0,3,2.50,2070.0,13241.0,1.5,0.0,0.0,5.0,9,1270.0,800.0,1910.0
107,188500.0,2,1.75,1240.0,2493.0,1.0,0.0,0.0,4.0,8,1240.0,0.0,1985.0
108,680000.0,4,2.50,3140.0,28037.0,2.0,0.0,0.0,4.0,10,3140.0,0.0,1991.0
109,470000.0,5,1.75,2030.0,12342.0,2.0,0.0,0.0,4.0,7,2030.0,0.0,1942.0

In [27]:
# Using multiple subsets will remove rows that have duplicates from both columns:
drop_br_floors = new_df.drop_duplicates(subset=["bedrooms", "floors"])

drop_br_floors

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built
100,850830.0,3,2.50,2070.0,13241.0,1.5,0.0,0.0,5.0,9,1270.0,800.0,1910.0
102,699950.0,3,2.25,2190.0,107593.0,2.0,0.0,0.0,4.0,8,2190.0,0.0,1983.0
104,290000.0,3,1.00,1210.0,33919.0,1.0,0.0,0.0,3.0,7,NaN,0.0,1954.0
107,188500.0,2,1.75,1240.0,2493.0,1.0,0.0,0.0,4.0,8,1240.0,0.0,1985.0
108,680000.0,4,2.50,3140.0,28037.0,2.0,0.0,0.0,4.0,10,3140.0,0.0,1991.0
109,470000.0,5,1.75,2030.0,12342.0,2.0,0.0,0.0,4.0,7,2030.0,0.0,1942.0
116,518500.0,3,3.50,1590.0,1102.0,3.0,0.0,0.0,3.0,8,1590.0,0.0,2010.0
118,171800.0,4,2.00,1570.0,9600.0,1.0,0.0,0.0,3.0,6,1570.0,0.0,1950.0
119,535000.0,4,1.00,1610.0,2982.0,1.5,0.0,0.0,4.0,7,1610.0,0.0,1925.0
134,675000.0,4,3.50,2140.0,2278.0,3.0,0.0,0.0,3.0,9,2140.0,0.0,2005.0
141,527700.0,5,2.50,2820.0,9375.0,1.0,0.0,0.0,4.0,8,1550.0,1270.0,1968.0
147,430000.0,2,2.50,2420.0,60984.0,2.0,0.0,0.0,3.0,7,2420.0,0.0,2007.0

#### **Value Counts:**
Return a Series containing the frequency of each item in a column in the Dataframe.
<br> Ordered from highest count to lowest.

In [28]:
counts_grades = new_df["grade"].value_counts()

counts_grades

grade
8     20
7     19
9      6
6      5
10     1
Name: count, dtype: int64

In [29]:
counts_grades_prop = new_df["grade"].value_counts(normalize=True)

# Getting the percent or proportion of each item
counts_grades_prop

grade
8     0.392157
7     0.372549
9     0.117647
6     0.098039
10    0.019608
Name: proportion, dtype: float64

#### **Grouping Data:**
A groupby operation involves: splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and apply operations on these groups.

In [30]:
# Group by the "yr_built" and calculate the mean for all the data at a specific year
sum_year = df_houses.groupby("yr_built").sum(numeric_only=True)

sum_year.head(10)

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
yr_built,,,,,,,,,,,,,,,,,,,
1900.0,440255000269,50593687.0,285,150.50,150685.0,945655.0,131.0,0.0,22.0,307.0,598,126595.0,21310.0,37875,8535105,4140.6872,-10639.132,145039,628331
1901.0,146070673788,15541142.0,105,45.75,51145.0,120145.0,45.5,0.0,2.0,106.0,204,43895.0,7250.0,1987,2845509,1381.2906,-3547.564,44398,114488
1902.0,115572413083,18176200.0,96,52.00,51830.0,128696.0,47.0,0.0,2.0,98.0,201,48170.0,3660.0,3935,2649146,1285.6506,-3302.493,51670,123576
1903.0,207374195524,22124077.0,141,69.25,69356.0,292770.0,67.0,1.0,11.0,161.0,316,64532.0,4824.0,11966,4512858,2189.2078,-5625.214,70730,243973
1904.0,204429499057,26274049.0,131,67.50,72143.0,243450.0,58.5,0.0,3.0,171.0,311,58823.0,13320.0,11988,4415307,2142.4451,-5504.257,73360,207003
1905.0,327600234530,53704851.0,245,138.00,141640.0,754540.0,120.0,1.0,19.0,279.0,553,121460.0,24010.0,34002,7260212,3522.5983,-9051.129,134050,469245
1906.0,342229632326,61642545.0,297,163.50,165805.0,489918.0,137.5,0.0,12.0,338.0,661,141455.0,24350.0,16042,9026189,4381.8261,-11253.045,156880,408731
1907.0,278272970050,43961091.0,212,116.00,123778.0,335485.0,105.0,0.0,11.0,238.0,472,104108.0,19670.0,27917,6377347,3094.5081,-7950.803,114800,320137
1908.0,413606800322,48546987.0,265,140.75,146169.0,558356.0,123.5,1.0,35.0,324.0,598,120311.0,25858.0,27886,8437659,4093.0937,-10519.138,150050,539272
1909.0,431722971999,65466205.0,300,171.50,178610.0,479648.0,142.0,0.0,22.0,360.0,694,148150.0,30460.0,31870,9222424,4476.5243,-11498.488,167039,453305

In [31]:
avg_year_prices = df_houses.groupby("yr_built")["price"].mean(numeric_only=True)

avg_year_prices.head(10)

yr_built
1900.0    581536.632184
1901.0    555040.785714
1902.0    673192.592593
1903.0    480958.195652
1904.0    583867.755556
1905.0    735682.890411
1906.0    670027.663043
1907.0    676324.476923
1908.0    564499.848837
1909.0    696448.989362
Name: price, dtype: float64

In [32]:
year_prices_sqli = df_houses.groupby("yr_built")[["price", "sqft_living"]].median(numeric_only=True)

year_prices_sqli.head(10)

             price  sqft_living
yr_built
1900.0    549000.0       1540.0
1901.0    548000.0       1610.0
1902.0    624000.0       1600.0
1903.0    461000.0       1505.0
1904.0    478000.0       1280.0
1905.0    595000.0       1840.0
1906.0    555000.0       1600.0
1907.0    595000.0       1700.0
1908.0    519475.0       1575.0
1909.0    575500.0       1705.0

In [34]:
# Applying multiple functions using the groupby "method":
# diif_per = df_houses.groupby("yr_built")["price"].agg(["max", "mean", "min"])
diif_per = df_houses.groupby("yr_built")[["price", "sqft_living"]].agg(["max", "mean", "min"])

diif_per.head(10)

              price                          sqft_living
                max           mean       min         max         mean     min
yr_built
1900.0    1700000.0  581536.632184  130000.0      4380.0  1732.011494   600.0
1901.0    1230000.0  555040.785714  285000.0      3440.0  1763.620690   680.0
1902.0    1990000.0  673192.592593  260000.0      4480.0  1919.629630  1000.0
1903.0    1020000.0  480958.195652  167500.0      2800.0  1507.739130   670.0
1904.0    3300000.0  583867.755556  204995.0      7710.0  1603.177778   800.0
1905.0    2250000.0  735682.890411   90000.0      4860.0  1940.273973   540.0
1906.0    2730000.0  670027.663043  165000.0      6410.0  1802.228261   660.0
1907.0    2400000.0  676324.476923  202000.0      5860.0  1904.276923   700.0
1908.0    2540000.0  564499.848837  111300.0      4350.0  1699.639535   580.0
1909.0    3070000.0  696448.989362  185900.0      5540.0  1900.106383   710.0

In [35]:
# Grouping by multiple columns:
multiple_columns = df_houses.groupby(["yr_built", "grade"])[["price", "sqft_living"]].mean(numeric_only=True)

multiple_columns.head(20)

                       price  sqft_living
yr_built grade
1900.0   4      1.300000e+05   600.000000
         5      2.292332e+05  1077.000000
         6      4.446669e+05  1437.391304
         7      5.517295e+05  1637.000000
         8      8.335909e+05  2380.909091
         9      1.014800e+06  2876.000000
         10     1.550000e+06  3075.000000
1901.0   5      3.650000e+05   680.000000
         6      4.513000e+05  1240.000000
         7      4.996887e+05  1791.785714
         8      6.705714e+05  2071.428571
         9      1.230000e+06  3440.000000
1902.0   6      2.878333e+05  1256.666667
         7      5.582821e+05  1720.714286
         8      8.330312e+05  2166.250000
         9      8.425000e+05  2160.000000
         12     1.990000e+06  4480.000000
1903.0   5      1.962500e+05  1050.000000
         6      3.351609e+05  1152.461538
         7      5.351993e+05  1566.090909