## **Subplot Function:**
The "subplot" function creates multiple plots within a single figure. 
<br>It organizes plots in a grid layout, specifying the number of rows, columns, and the position of each plot.

We will use the "House Sales in King County, USA" dataset from Kaggle.
<br>Kaggle dataset link:
<br>https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display
import numpy as np
import os

In [2]:
CURRENT_DIR = os.getcwd()
PARENT_DIR = os.path.dirname(CURRENT_DIR)
GET_CSV_FILE = os.path.join(PARENT_DIR, "03.Pandas/kc_house_data _rev.csv")

In [3]:
df_houses = pd.read_csv(GET_CSV_FILE)

In [4]:
sort_df_by_year = df_houses.sort_values(by=["yr_built"])
sort_df_by_area = df_houses.sort_values(by=["sqft_lot"])
sort_df_by_cond = df_houses.sort_values(by=["condition"])
sort_df_by_grade = df_houses.sort_values(by=["grade"])

with pd.option_context('display.max_columns', None):
    display(sort_df_by_year.head())

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
16084,7519000225,20141030T000000,465000.0,3,1.0,1580.0,3774.0,1.5,0.0,0.0,3.0,6,1580.0,0.0,1900.0,0,98117,47.6839,-122.361,1580,3860
9005,5160700035,20150422T000000,431000.0,2,1.5,1300.0,4000.0,1.5,0.0,0.0,4.0,6,1300.0,0.0,1900.0,0,98144,47.5937,-122.301,1480,4000
14536,8806900040,20150406T000000,415000.0,3,2.0,1410.0,4303.0,1.5,0.0,0.0,4.0,7,1410.0,0.0,1900.0,0,98108,47.5541,-122.317,1660,4326
12764,6362900145,20150203T000000,450000.0,4,2.0,1960.0,5008.0,1.0,0.0,0.0,3.0,6,980.0,980.0,1900.0,1988,98144,47.5958,-122.299,1175,2315
3919,7883604065,20150501T000000,210000.0,2,1.0,1100.0,6000.0,1.5,0.0,0.0,4.0,6,1100.0,0.0,1900.0,0,98108,47.5275,-122.323,1280,6000

The subplot function takes three arguments, "subplot(nrows, ncols, index)":
1. nrows: number of rows
2. ncols: number of columns
3. index: the figure index

In [ ]:
# Plot 1:
years_built = sort_df_by_year["yr_built"]
prices_year = sort_df_by_year["price"]

# Increase the canvas or the figure area:
# Width: 15 inches, Height: 8 inches
plt.figure(figsize=(15, 8))

# First subplot (2 row, 2 columns, position or index 1)
plt.subplot(2, 2, 1)
plt.plot(years_built, prices_year)

plt.xlabel("Year Built")
plt.ylabel("Price")
plt.title("Fig. 1: House Prices Vs Year Built")

# Plot 2:
sq_lot = sort_df_by_area["sqft_lot"]
prices_area = sort_df_by_area["price"]

# Second subplot (2 row, 2 columns, position or index 2) 
plt.subplot(2, 2, 2)
plt.plot(sq_lot, prices_area)

plt.xlabel("Total Square Area (ft)")
plt.ylabel("Price")
plt.title("Fig. 2: House Prices Vs Area")

# Plot 3:
condition = sort_df_by_cond["condition"]
prices_cond = sort_df_by_cond["price"]

# Third subplot (2 row, 2 columns, position or index 3)
plt.subplot(2, 2, 3)
plt.plot(condition, prices_cond)

plt.xlabel("Condition")
plt.ylabel("Price")
plt.title("Fig. 3: House Prices Vs Condition")

# Plot 4:
grade = sort_df_by_grade["grade"]
prices_grade = sort_df_by_grade["price"]

# Forth subplot (2 row, 2 columns, position or index 4) 
plt.subplot(2, 2, 4)
plt.plot(grade, prices_grade)

plt.xlabel("Grade")
plt.ylabel("Price")
plt.title("Fig. 4: House Prices Vs Grade")

plt.subplots_adjust(hspace=0.3)  # Increase value for more space

plt.suptitle("Houses Prices in King County, USA")
plt.show()

The subplot function:
- Creates a single subplot at a specified grid position.
- Requires you to manually define each subplot individually if you want multiple plots.
<br>The subplot function is used for creating simple and quick multiple plots

## **Subplots Function:**
The subplots function is a powerful tool for creating multiple plots within a single figure. It allows you to define a grid of subplots and manage their layout efficiently.
<br>Key Features:
- Grid Layout: You can specify the number of rows and columns for your subplots.
- Shared Axes: Control whether subplots share x or y axes.
- Figure & Axes Objects: The subplots function returns two values:
  - Figure: Represents the entire figure or canvas where the plots are drawn.
  - Axes: Represent the individual subplots within the figure. If there are multiple subplots, it returns an array of Axes objects.

In [ ]:
# Creating a single plot
years_built = sort_df_by_year["yr_built"]
prices = sort_df_by_year["price"]

plt.figure(figsize=(10, 6))

fig, ax = plt.subplots()

ax.plot(years_built, prices)

ax.set_xlabel("Year Built")
ax.set_ylabel("Price")

plt.show()

In [ ]:
# Create two figures with the subplots function:

# Data to plot
years_built = sort_df_by_year["yr_built"]
prices_year = sort_df_by_year["price"]

sq_lot = sort_df_by_area["sqft_lot"]
prices_area = sort_df_by_area["price"]

# Create two subplots and unpack the output array immediately
fig, (ax1, ax2) = plt.subplots(nrows=1, ncols=2, sharey=True, sharex=False, figsize=(15, 4))

# First figure:
ax1.plot(years_built, prices_year)
ax1.set_title("House Prices Vs Year Built")

# Second figure:
ax2.plot(sq_lot, prices_area)
ax2.set_title("House Prices Vs Area")

plt.show()

In [ ]:
# Create Multiple figures with the subplots function:

# Data to plot
years_built = sort_df_by_year["yr_built"]
prices_year = sort_df_by_year["price"]

sq_lot = sort_df_by_area["sqft_lot"]
prices_area = sort_df_by_area["price"]

condition = sort_df_by_cond["condition"]
prices_cond = sort_df_by_cond["price"]

grade = sort_df_by_grade["grade"]
prices_grade = sort_df_by_grade["price"]


# Create four Axes and access them through the returned array
fig, axs = plt.subplots(nrows=2, ncols=2, sharey=True, sharex=False, figsize=(10, 6))
axs[0, 0].plot(years_built, prices_year)
axs[0, 1].plot(sq_lot, prices_area)
axs[1, 0].plot(condition, prices_cond)
axs[1, 1].plot(grade, prices_grade)


plt.show()

In [ ]:
# Create Multiple figures with the subplots function, adding grids, titles, and labels:

# Create four Axes and access them through the returned array
fig, axs = plt.subplots(nrows=2, ncols=2, sharey=True, sharex=False, figsize=(10, 10))
axs[0, 0].plot(years_built, prices_year)
axs[0, 1].plot(sq_lot, prices_area)
axs[1, 0].plot(condition, prices_cond)
axs[1, 1].plot(grade, prices_grade)

# Main Title:
fig.suptitle("Houses Prices in King County, USA", fontsize=16, fontname="Arial", fontweight="bold")

# Adding a title, x-label, y-label, and grid for each figure:
axs[0, 0].grid(True)
axs[0, 0].set_title("Year Built vs Prices")
axs[0, 0].set_xlabel("Year Built")
axs[0, 0].set_ylabel("Prices")

axs[0, 1].grid(True)
axs[0, 1].set_title("Area vs Prices")
axs[0, 1].set_xlabel("Area")
axs[0, 1].set_ylabel("Prices")

axs[1, 0].grid(True)
axs[1, 0].set_title("Conditon vs Prices")
axs[1, 0].set_xlabel("Condition")
axs[1, 0].set_ylabel("Prices")

axs[1, 1].grid(True)
axs[1, 1].set_title("Grade vs Prices")
axs[1, 1].set_xlabel("Grade")
axs[1, 1].set_ylabel("Prices")


plt.show()

In [ ]:
# If there are multiple subplots, the "suplots" function returns the Axes as an array of Axes objects.
axs

In [ ]:
# As shown above, we repeated similar code lines to add the grid, titles, and labels; we should keep our code DRY.
# To keep our code DRY, we can create a function for these lines of code:

def customize_figure(tilte, x_labal, y_label, axs):
    axs.grid(True)
    axs.set_title(tilte, fontsize=11, fontname="Arial", fontweight="bold")
    axs.set_xlabel(x_labal, fontsize=8, fontname="Arial", fontweight="bold")
    axs.set_ylabel(y_label, fontsize=8, fontname="Arial", fontweight="bold")
    
    

# Create four Axes and access them through the returned array
fig, axs = plt.subplots(nrows=2, ncols=2, sharey=True, sharex=False, figsize=(10, 10))
axs[0, 0].plot(years_built, prices_year)
axs[0, 1].plot(sq_lot, prices_area)
axs[1, 0].plot(condition, prices_cond)
axs[1, 1].plot(grade, prices_grade)

# Main Title:
fig.suptitle("Houses Prices in King County, USA", fontsize=16, fontname="Arial", fontweight="bold")

# Adding a title, x-label, y-label, and grid for each figure:
fig_names = {1: ["Year Built vs Prices", "Year Built", "Prices"],
             2: ["Area vs Prices", "Area", "Prices"],
             3: ["Condition vs Prices", "Condition", "Prices"],
             4: ["Grade vs Prices", "Grade Renovation", "Prices"],
            }

# When you use plt.subplots(rows, cols), it returns a 2D array of axes
# when thereâ€™s more than one row and column, we use "axs.flat" object to loop over
# a flattened 2D array:

fig_num = 0
for ax in axs.flat:
    customize_figure(*fig_names[1+fig_num], ax)
    fig_num += 1


plt.show()

## **Figure.subplots Method:**
The subplots method is a method of the Figure class. To use this method, you should create a figure object.
<br>The Figure class provides more control over plot creation within an existing figure.
<br>To know more about the Figure class, check this link:
<br>https://matplotlib.org/stable/api/figure_api.html#figure

In [1]:
def customize_figure(tilte, x_labal, y_label, axs):
    axs.grid(True)
    axs.set_title(tilte, fontsize=11, fontname="Arial", fontweight="bold")
    axs.set_xlabel(x_labal, fontsize=8, fontname="Arial", fontweight="bold")
    axs.set_ylabel(y_label, fontsize=8, fontname="Arial", fontweight="bold")
    

# Create a figure object
fig = plt.figure(figsize=(10, 10))

# Use the fig object with subplots method:
axs = fig.subplots(nrows=2, ncols=2, sharey=True)
axs[0, 0].plot(years_built, prices_year)
axs[0, 1].plot(sq_lot, prices_area)
axs[1, 0].plot(condition, prices_cond)
axs[1, 1].plot(grade, prices_grade)

# Main Title:
fig.suptitle("Houses Prices in King County, USA", fontsize=16, fontname="Arial", fontweight="bold")

# Adding a title, x-label, y-label, and grid for each figure:
fig_names = {1: ["Year Built vs Prices", "Year Built", "Prices"],
             2: ["Area vs Prices", "Area", "Prices"],
             3: ["Condition vs Prices", "Condition", "Prices"],
             4: ["Grade vs Prices", "Grade Renovation", "Prices"],
            }

fig_num = 0
for ax in axs.flat:
    customize_figure(*fig_names[1+fig_num], ax)
    fig_num += 1


plt.show()

NameError: name 'plt' is not defined

#### **The difference plt.subplots() and Figure.subplots() is:**
plt.subplots() is a standalone function that creates both the figure and subplots, while Figure.subplots() is a method that operates on an existing figure.

## **Using Two "y" Axes for Different data on the Same Chart "Twin Axes":**

In [ ]:
x_data = [0, 1, 2]
y1_data = [0, 1, 2]
y2_data = [0, 3, 2]

fig, ax = plt.subplots()

line1 = ax.plot(x_data, y1_data, label="Y1 Line", color="blue")

ax.set_xlabel("X Data")
ax.set_ylabel("Y1 Data", color="blue")

ax1 = ax.twinx()

line2 = ax1.plot(x_data, y2_data, label="Y2 Line", color="red",)

ax1.set_xlabel("X Data")
ax1.set_ylabel("Y2 Data", color="red")


# Creating a list of lines objects:
lines = line1 + line2

# Getting the labels from each line object
labels = [l.get_label() for l in lines]

# Combine legends from both axes:
ax.legend(lines, labels, loc="upper left")


plt.show()